@charset "UTF-8";
.showcase-thumb:hover {
  cursor: pointer; }

.showcase-wrapper {
  display: none;
  margin-top: 0;
  height: 100%;
  min-height: 500px;
  width: 100%;
  z-index: 19900;
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.85), white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255, 0.85), white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.85), white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255, 255, 255, 0.85), white);
  /* Standard syntax */ }
  .showcase-wrapper.active {
    display: block; }
  .showcase-wrapper .showcase-close {
    position: absolute;
    right: 25px;
    top: 25px;
    background: rgba(180, 180, 180, 0.8);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 30px; }
    .showcase-wrapper .showcase-close:before {
      color: white;
      font-size: 18px;
      font-weight: 700;
      font-family: Helvetica;
      width: 30px;
      height: 30px;
      margin: auto;
      text-align: center;
      line-height: 30px;
      display: block;
      content: '✕'; }
    .showcase-wrapper .showcase-close:hover {
      cursor: pointer;
      background: #b4b4b4; }
  .showcase-wrapper .showcase-slide-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 19910; }
    .showcase-wrapper .showcase-slide-wrapper .showcase-slide {
      min-width: 256px;
      width: 80%;
      height: 80%;
      margin: auto;
      display: none;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .showcase-wrapper .showcase-slide-wrapper .showcase-slide.active {
        display: block; }
  .showcase-wrapper .showcase-nav {
    display: block;
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 100px;
    height: 40px; }
    .showcase-wrapper .showcase-nav .gallery-pageNo {
      width: 100%;
      display: block;
      clear: both;
      font-size: small;
      text-align: right; }
    .showcase-wrapper .showcase-nav .showcase-previous, .showcase-wrapper .showcase-nav .showcase-next {
      width: 40px;
      height: 40px;
      border: 1px #ccc solid;
      cursor: pointer; }
      .showcase-wrapper .showcase-nav .showcase-previous i, .showcase-wrapper .showcase-nav .showcase-next i {
        width: 1px;
        margin: 8px 7px;
        display: block;
        font-size: 20px; }
    .showcase-wrapper .showcase-nav .showcase-previous:hover, .showcase-wrapper .showcase-nav .showcase-next:hover {
      box-shadow: 0 0 2px 2px #ccc; }
    .showcase-wrapper .showcase-nav .showcase-previous {
      float: left; }
      .showcase-wrapper .showcase-nav .showcase-previous:before {
        content: "\2190 "; }
    .showcase-wrapper .showcase-nav .showcase-next {
      float: right; }
      .showcase-wrapper .showcase-nav .showcase-next:before {
        content: "\2192 "; }

.gallery-block {
  width: 100%;
  display: block;
  position: relative; }
  .gallery-block .open-gallery {
    position: absolute;
    background: #000;
    display: inline-block;
    bottom: 12px;
    left: 20px;
    font-size: 16px;
    color: #fff;
    opacity: .75; }
    .gallery-block .open-gallery:hover {
      text-decoration: underline;
      opacity: 1; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
