@charset "UTF-8";
.showcase-thumb:hover {
    cursor: pointer;
}

.showcase-wrapper {
    display: none;
    margin-top: 0;
    height: 100%;
    min-height: 500px;
    width: 100%;
    z-index: 19900;
    position: fixed;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.85), white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255, 255, 255, 0.85), white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.85), white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255, 255, 255, 0.85), white);
    /* Standard syntax */
    &.active {
        display: block;
    }
    .showcase-close {
        position: absolute;
        right: 25px;
        top: 25px;
        background: rgba(180, 180, 180, 0.8);
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        z-index: 99999;
        &:before {
            color: white;
            font-size: 18px;
            font-weight: 700;
            font-family: Helvetica;
            width: 30px;
            height: 30px;
            margin: auto;
            text-align: center;
            line-height: 30px;
            display: block;
            content: '✕';
        }
        &:hover {
            cursor: pointer;
            background: rgba(180, 180, 180, 1);
        }
    }
    .showcase-slide-wrapper{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 19910; 

        .showcase-slide {
            min-width: 256px;
            margin: auto;
            display: none;
            overflow: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform:    translate(-50%, -50%);
            -ms-transform:     translate(-50%, -50%);
            -o-transform:      translate(-50%, -50%);
            transform:         translate(-50%, -50%);
            &.active {
                display: block;
            }
        }
    }
    .showcase-nav {
        display: block;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 25px;
        width: 200px;
        height: 40px;
        z-index: 99999;
        .showcase-previous, .showcase-next {
            width: 30px;
            height: 40px;
            cursor: pointer;
            opacity: 0.8;
            position: absolute;
            &:before{
                content: " ";
                height: 0;
                position: absolute;
                width: 0;
                border: 20px solid transparent;
                top: 0;
            }
            &:hover {
                opacity: 1;
            }
        }
        .showcase-previous {
            left: 0;
            &:before {
                left: 0;
                border-right: 30px solid rgb(180, 180, 180);
                border-left: none;
            }
        }
        .showcase-next {
            right: 0;
            &:before {
                right: 0;
                border-left: 30px solid rgb(180, 180, 180);
                border-right: none;
            }
        }
    }
}
.gallery-block {
    width: 100%;
    display: block;
    position: relative;
    .open-gallery {
        position: absolute;
        background: #000;
        display: inline-block;
        bottom: 12px;
        left: 20px;
        font-size: 16px;
        color: #fff;
        opacity: .75;
        &:hover {
            text-decoration: underline;
            opacity: 1;
        }
    }
}
/*# sourceMappingURL=style.css.map */